# ==============================
# Dependencies
# ==============================

**/node_modules/


# ==============================
# Environment files
# ==============================

**/.env
**/.env.*
!.env.example


# ==============================
# Build files
# ==============================

**/dist/
**/dist-ssr/


# ==============================
# Uploaded resumes
# ==============================

server/src/uploads/*
!server/src/uploads/.gitkeep


# ==============================
# VS Code
# ==============================

.vscode/


# ==============================
# Logs
# ==============================

*.log

# Python bytecode and cache directories
__pycache__/
*.py[cod]


# ==============================
# OS files
# ==============================

.DS_Store
Thumbs.db
